.merchantContainer .merchantImage {
    transition: filter 0.3s ease;
}

.merchantContainer:hover .merchantImage {
    filter: grayscale(100%);
}

.merchantImage {
    background: url('/images/merchant-busstop.svg');
    background-size: 100% 100%;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    left: 0;
    z-index: 7;
    display: block;
}